.book-but {
  display: block;
  font-size: large;
  width: 150px;
  background-color: #2a1a5e;
  border: none;
  border-radius: 50px !important;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 2rem;
  font-family: "Berlin Sans FB";
  font-size: 22px;
}
.book-but:hover {
  background-color: #372571;
  color: white;
  border-radius: 50px;
}

.book-Con {
  background-image: url(./inv.png);
  opacity: 90%;
  background-blend-mode: darken;
  object-fit: cover;
  background-position: center;
  height: 70%;
  width: 100%;
  background-repeat: no-repeat;
  min-height: 50%;
  background-size: 100% 100%;
  z-index: -1;
}
body {
  height: 150vh;
  width: auto;
  display: flex;
  flex-direction: column;
  object-fit: cover;
  overflow-x: none;
}

.MuiPickersDay-daySelected {
  color: #fff;
  font-weight: 500;
  background-color: #fb9224;
}
