*{
    font-family: 'Berlin Sans FB'; 
}
button{
    margin-bottom: 80px;
}
.client-msg{
    color: #fd9a34;
    font-weight: 700;
    font-size: 20px;
    margin-top: 20px;
  
}
.client-btn{
    background-color: #2A1A5E;
    border: none;
    border-radius: 50px!important;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    cursor: pointer;
   margin-left: 0.1rem;
    margin-top: 90px;
}
.client-btn:hover{
    background-color: #372571; 
    color: white;
}

