@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap");
body{
  height: 60vh;
}
:root {
  --primaryColor: #FB9224;
  --secondaryColor: #2A1A5E;
}

*,
*::before,
*::after {
  box-sizing: border-box;
   
}

.rateCon {
  font-family: 'Berlin Sans FB';
  font-weight: 400;
  font-size: 15px;
  color: #1f2029;
  background-color: #fff;
  background-image: url("./RateBG.jpg")  ;
  background-size: cover;
  mask-image: -o-linear-gradient(#1f2029);
  opacity: 95%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: auto;
  
}
.btn-rate-us-inv{
  display: "flex";
  justify-content: "center";
  align-items: "center";
  margin-top: 6rem;
  margin-right: 5rem;
  background-color:#fd9a34 ;
  color: white;
  border: transparent;
  grid-gap: 15px;
  font-size: 1.5rem;
  opacity: 99%;
  padding: 12px;
  border-radius: 50px;
}
.STARS{
  margin-top: 40px;
}
.submit-but-rate{
  display: "flex";
  justify-content: "center";
  align-items: "center";
  background-color:#fd9a34 ;
  color: white;
  border: transparent;
  grid-gap: 15px;
  font-size: 1.5rem;
  opacity: 99%;
  padding: 12px;
  border-radius: 50px;
}
.rateus-btn {
  font-family: 'Berlin Sans FB';
  position: relative;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2;
  height: 40px;
  transition: all 200ms linear;
  border-radius: 4px;
  width: 150px;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
  border: none;
  border-radius: 50px!important;
  cursor: pointer;
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
  fill: var(--secondaryColor);
  box-shadow: 0 12px 35px 0 rgba(16, 39, 112, 0.25);
  outline: 0;
  text-transform: capitalize;
}

.rateus-btn:hover {
  border-radius: 50px ;
    background-color: #ffb048; 
    color: white;
}
/*
.content {
  display: flex;
  height: 50%;
  width: 50%;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
  }

 
}*/
