.col-md-6 {
  color: #2A1A5E;
    size: 70px;
    font-weight: bold;
}

.col-md-4{

  color: #fd9a34;
  size: 70px;
  font-weight: bold;
}

.edit-but {
  display: flex;
  background-color:#fd9a34 ;
  color: white;
  border: transparent;
  grid-gap: 15px;
  font-size: 1.5rem;
  opacity: 99%;
  float: right;
  margin-top: 20px;
  margin-right: 60px;
  border-radius: 0px ;
}

.edit-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin-bottom: 5px;
}
.edit-links:hover{
  text-decoration: none;
  color: white;
}
.edit-but:hover {
  
  background-color:#2A1A5E  ;
  border-radius: 50px ;
}

.container input {
  display: block;
  position: absolute;
  margin-bottom: 0%;
}

