.first{
    height: 100%;
    width: 100%;
   
}
.second{
    height: 100%;
    width: 100%;
}
.third{
    height: 100%;
    width: 100%;
}
.headlines{
    color: #fd9a34;
    size: 70px;
    font-weight: bold;
    
}
.paragraph{
    color: white;
    font-size: 20px;
    font-weight: bold;
}